<!DOCTYPE html>
<!-- Website - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>about us</title>
    <link rel="stylesheet" href="../static/about.css" />
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
    .back-to-home {
      text-decoration: none;
      background-color: #ff5275; /* Background color for the button */
      color: #fff; /* Text colsor */
      padding: 8px 16px; /* Adjust the padding as needed */
      border-radius: 4px;
      margin-left: 540px;
    }
    
    .back-to-home:hover {
      background-color: #ff5275; /* Change the background color on hover */
    }
    </style>
  </head>
  <body>
    <div class="container">
      <input type="radio" name="dot" id="one" />
      <input type="radio" name="dot" id="two" />
      <div class="main-card">
        <div class="cards">
          <div class="card">
            <div class="content">
              <div class="img">
                <img src="https://ik.imagekit.io/hbd8egryz/Smart%20INDIA%20Hackathon/Images%202/images/img1.jpg?updatedAt=1702993668010" alt="" />
              </div>
              <div class="details">
                <div class="name">Vanamali</div>
                <div class="job">Game Dev</div>
              </div>
              <div class="media-icons">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="img">
                <img src="https://ik.imagekit.io/hbd8egryz/Smart%20INDIA%20Hackathon/Images%202/images/WhatsApp%20Image%202023-12-19%20at%2019.29.40_88db26b7.jpg?updatedAt=1702994478580" alt="" />
              </div>
              <div class="details">
                <div class="name">Rohail Khan</div>
                <div class="job">Backend Engineer</div>
              </div>
              <div class="media-icons">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="content">
              <div class="img">
                <img src="https://ik.imagekit.io/hbd8egryz/Smart%20INDIA%20Hackathon/Images%202/images/img5.jpg?updatedAt=1702993668182" alt="" />
              </div>
              <div class="details">
                <div class="name">Vivek R K</div>
                <div class="job">Backend Engineer</div>
              </div>
              <div class="media-icons">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="cards">
          <div class="card">
            <div class="content">
              <div class="img">
                <img src="https://ik.imagekit.io/hbd8egryz/Smart%20INDIA%20Hackathon/Images%202/images/img6.jpg?updatedAt=1702993668189" alt="" />
              </div>
              <div class="details">
                <div class="name">Sumanth</div>
                <div class="job">UI-UX Engineer</div>
              </div>
              <div class="media-icons">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="img">
                <img src="https://ik.imagekit.io/hbd8egryz/Smart%20INDIA%20Hackathon/Images%202/images/img2.jpg?updatedAt=1702993668122" alt="" />
              </div>
              <div class="details">
                <div class="name">Shashti D B</div>
                <div class="job">Frontend</div>
              </div>
              <div class="media-icons">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="img">
                <img src="https://ik.imagekit.io/hbd8egryz/Smart%20INDIA%20Hackathon/Images%202/images/img3.jpg?updatedAt=1702993667954" alt="" />
              </div>
              <div class="details">
                <div class="name">Sushma B C</div>
                <div class="job">Backend Engineer</div>
              </div>
              <div class="media-icons">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button">
        <label for="one" class="active one"></label>
        <label for="two" class="two"></label>
      </div>
      <a href="/pt100" class="back-to-home">Back to Home</a>
    </div>
    </body>
</html>