<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playlist</title>
    <link rel="stylesheet" href="../static/styles3.css">
</head>
<body>
    <header>
        <h1>Period Pain Relief</h1>
        <a href="/curated0" class="back-to-home">Back to Home</a>
        
    </header>
    
    <main>
        <section class="video">
            <iframe width="350" height="200"  src="https://www.youtube.com/embed/LIsYbDCMfDc?si=1JA9gEnVvl0QzN3t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Top 3 Ways to get Immediate Relief</h2>
            
        </section>

        <section class="video">
            <iframe width="350" height="200" src="https://www.youtube.com/embed/xvxBwqhwXzY?si=PqhDjTCxxsxdI-PV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>How to Relieve Menstrual Cramps & PMS</h2>
        </section>

        <section class="video">
            <iframe width="350" height="200" src="https://www.youtube.com/embed/ADNJmIoVSnI?si=lGRVFwR7yZPoCA6V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2> Acupressure for Period Pain</h2>
            
        </section>

        <section class="video">
            <iframe width="350" height="200" src="https://www.youtube.com/embed/rwuBHuavwVM?si=XIqMFjXdl_ZnQ7Dn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Period pain? Try these remedies</h2>
           
        </section>
        <section class="video">
            <iframe width="350" height="200" src="https://www.youtube.com/embed/o6wpk7pf83E?si=cHAcq0jZWh7zQIfI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Foods to Control Pain </h2>
        
        </section>
        <section class="video">
            <iframe width="350" height="200" src="https://www.youtube.com/embed/CHiT1znw2S4?si=tZMnVswgMY6CLsb4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Pain relief from Menstrual Cramps </h2>
            
        </section>
        <section class="video">
            <iframe width="350" height="200" src="https://www.youtube.com/embed/qFfn9nToCaQ?si=s1QX733DykNyByzr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Period Pain Relief Tips by Top Gynecologist </h2>
            
        </section>
    </main>
</body>
</html>
