<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playlist</title>
    <link rel="stylesheet" href="../static/styles3.css">
   
</head>
<body>
    <header>
        <h1 style="font-family: 'Saira Condensed';">Self-Care</h1>
        <a href="/curated0" class="back-to-home">Back to Home</a>
    </header>
    
    <main>
        <section class="video">
            <iframe width="350" height="200" src="https://www.youtube.com/embed/2caqzHWk2r8?si=tmM5fEj71dFG496S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Menstrupedia: Friendly guide to healthy periods</h2>
           
        </section>

        <section class="video">
            <iframe width="350" height="200" src="https://www.youtube.com/embed/FBfAD5z-g0Q?si=sVx0vUSGS_oFphJA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Menstrupedia: What Is periods?</h2>
           
        </section>

        <section class="video">
            <iframe  width="350" height="200" src="https://www.youtube.com/embed/CZo5rIHEBNQ?si=eEu8uXHaj96yvkfG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>my period self care routine </h2>
          
        </section>

        <section class="video">
            <iframe width="350" height="200" src="https://www.youtube.com/embed/xK4EgijWchU?si=dTkTZhhdud_OZkCS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>15 HELPFUL PERIOD LIFE HACKS</h2>
            
        </section>
        <section class="video">
            <iframe width="350" height="200" src="https://www.youtube.com/embed/9w6Ulh_dsPc?si=FITkFXtHBAOAX8Sc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Prioritize SELF-CARE during your period</h2>
          
        </section>
        <section class="video">
            <iframe width="350" height="200" src="https://www.youtube.com/embed/WOi2Bwvp6hw?si=MckP5-aVe51FK78D" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>This is Your Period in 2 Minutes</h2>
            
        </section>
        <section class="video">
            <iframe width="350" height="200" src="https://www.youtube.com/embed/nYMV67u3gpw?si=LMjDaWbAjMYYHUQ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Hygiene, relief, tips, & motivation</h2>
           
        </section>
  
    </main>
</body>
</html>
