<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist</title>
    <link rel="stylesheet" href="../static/styles3.css">
</head>
<body>
    <header>
        <h1>Periods Delayed</h1>
        <a href="/curated0" class="back-to-home">Back to Home</a>
    </header>
    
    <main>
        <section class="video">
            <iframe width="350" height="200" src="https://www.youtube.com/embed/SSC12rZdU6M?si=TmP26TQD40dS5vDB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Say Good Bye to Irregular Periods Problem</h2>
            
        </section>

        <section class="video">
            <iframe width="350" height="200" src="https://www.youtube.com/embed/BEm4_6YUwbY?si=RzE_AZCh-RPxQroa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2> Home Remedies Vs Ayurvedic Treatment For Irregular Periods</h2>
            
        </section>

        <section class="video">
            <iframe width="350" height="200"  src="https://www.youtube.com/embed/FqHi327CrgI?si=R3whm-1MfXawykrO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Is it safe to take Pills to delay your Period?</h2>
            
        </section>

        <section class="video">
            <iframe width="350" height="200"  src="https://www.youtube.com/embed/0G8m4sDWnsg?si=46mlyG5dY8142gMu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Cure Irregular, Late Periods</h2>
          
        </section>
        <section class="video">
            <iframe width="350" height="200"  src="https://www.youtube.com/embed/6VmZYFeNZqA?si=IQuuVnmS-U7nmNP9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>>What are the ways to Postpone Periods? </h2>
            
        </section>
        <section class="video">
            <iframe width="350" height="200"  src="https://www.youtube.com/embed/reepc_ig-T4?si=NM0Sq7MkyYxiIR7_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Menstrupedia: What Is periods?</h2>
          
        </section>
        <section class="video">
            <iframe width="350" height="200"  src="https://www.youtube.com/embed/cAGnH-UbwpQ?si=qeHrMKGl6x_QHpMW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>How to delay your period?</h2>
        
        </section>
        
        <!-- More video sections can be added here -->
    </main>
</body>
</html>
